{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock title %}

{% block head %}

{% endblock %}

{% block body_class %}
{% endblock body_class %}

{% block content %}
<section id="content" class="body">
 <!-- <header>
    <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a>
    <h1 class="entry-title">
     {{ article.title }}</h1>-->

  </header>

  <div class="entry-content">
    {{ article.content }}
        <time class="time" datetime="{{ article.date.isoformat() }}">{{ article.date|strftime('%B %Y')}}</time>

  </div><!-- /.entry-content -->
  <!-- <div id="send-comment">
    <a href="mailto:solar@lowtechmagazine.com?subject=comments on {{ article.title }}" class="button" title="Comment">Send a letter to the editor <svg viewBox="0 0 80 80" class="icon"><title>email</title><path d="M4.95,13.14v55H74.33v-55Zm54.34,8.12L39.64,39.74,20,21.26ZM13.07,60V25.91l26.56,25,26.57-25V60Z"></path></svg></a>
  </div> -->
 

</section>

        <footer id="contentinfo" class="body">
        <div id="page-size">Taille de la page : {{article.size}}
        </footer><!-- /#contentinfo -->

{% endblock %}
